{% extends "pages/base.html" %}

{% block titleblock %}
    Home
{% endblock titleblock %}

{% block content %}

    <section class="upcoming_events py-4">

        <h2 class="text-center mb-4">Upcoming Events</h2>

        {% with events=upcoming_events %}
            {% include "event/containers/event_container.html" %}
        {% endwith %}

    </section>

    <section class="organizers py-4">

        <h2 class="text-center mb-4">Featured Organizers</h2>

        {% with organizers=featured_organizers %}
            {% include "organizer/containers/organizer_container.html" %}
        {% endwith %}

    </section>

    <section class="new_events py-4">

        <h2 class="text-center mb-4">New Events</h2>

        {% with events=new_events %}
            {% include "event/containers/event_container.html" %}
        {% endwith %}

    </section>

{% endblock content %}