{% extends 'pages/base.html' %}
{% block title %}Host Event{% endblock %}

{% block extra %}
<style>
    /* Custom CSS for centering the form */
    .centered-form {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    /* Custom CSS for form shading */
    .form-container {
        background-color: rgba(0, 0, 0, 0.1); /* Adjust the opacity as needed */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Box shadow */
    }
</style>
{% endblock %}

{% block content %}
<div class="centered-form container-lg mb-5 mt-4"> <!-- Add the form-shading class here -->
    <form method="post" class="form-container">
        <h2 class="text-center mb-4">Register</h2>
        {% csrf_token %}
        {% for form in forms %}
            {{form.as_p}}
        {% endfor %}
        <input type="submit" value="Sign Up" class="btn btn-success btn-block">
        <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Login?</a>

    </form>
</div>
{% endblock %}