<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %} 
    {% bootstrap_css %} 
    {% bootstrap_javascript %}
    {% block extra %}
    {% endblock %}
</head>
<body>
    
    <header>
        <nav>
            <ul>
                {% for nav_link in nav_links %}
                    {% include nav_link %}
                {% endfor %}
            </ul>
        </nav>            
    </header>

    <main>

        {% block content %}{% endblock %}

    </main>

    <footer>
        Copyright 2024 @ Eventer
    </footer>

</body>
</html>