<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Cancellation</title>
</head>
<body>
    
    <main>

        <h2 style="text-align: center;">Event Cancellation</h2>

        <p>
            We are sorry to inform you that the event <strong>{{event.name}} has been canceled</strong>. You are receiving this message since you registered for the event.
        </p>

    </main>

</body>
</html>