{# logic to render all events goes here #}
<div class="container">
    <div class="row">
    {% for event in events %}
        {# logic to render one event card goes here #}
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="{{event.image.url}}" class="card-img-top" alt="Photo of {{event.name}}" width="250" height="400">
                <div class="card-body">
                <h5 class="card-title">{{event.name}}</h5>
                <p class="card-text">Event by <a href="{% url 'organizer:view_organizer' id=event.account.organizer.id %}">{{event.account.organizer.name}}</a></p>
                <p class="card-text">Category: {{event.category}}</p>
                <p class="card-text">Date: {{event.date}}</p>
                <p class="card-text">Venue: {{event.venue}}</p>
                <p class="card-text">Status: {{event.status}}</p>
                <a href="{% url 'event:view_event' id=event.id %}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>