{% extends 'base.html' %}

{% block title %}
Host an Event
{% endblock %}

{% block extra %}


<style>
    .centered-form {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
</style>

{% endblock %}

{% block content %}

<div class="centered-form container-lg">
    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Host" class="btn btn-primary btn-block">
        <!-- <input type="datetime-local" name="" id=""> -->

    </form>
</div>

{% endblock %}