{% extends 'base.html' %}

{% block title %}
Host an Event
{% endblock %}

{% block extra %}


<style>
    .centered-form {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    .form-container {
        background-color: rgba(0, 0, 0, 0.1); /* Adjust the opacity as needed */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Box shadow */
    }
</style>

{% endblock %}

{% block content %}

<div class="centered-form container mb-5 mt-4"> <!-- Add the form-shading class here -->
    <form method="post" enctype="multipart/form-data" class="form-container mt-4">
        <h2 class="text-center mb-4">Host an Event</h2>
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_name" class="form-label">Event Name</label>
            {{ form.name }}
        </div>
        <div class="mb-3">
            <label for="id_description" class="form-label">Description</label>
            {{ form.description }}
        </div>
        <div class="mb-3">
            <label for="id_venue" class="form-label">Venue</label>
            {{ form.venue }}
        </div>
        <div class="mb-3">
            <label for="id_date" class="form-label">Date</label>
            <input type="datetime-local" name="date" id="id_date" class="form-control">
        </div>
        <div class="mb-3">
            <label for="id_image" class="form-label">Image</label>
            {{ form.image }}
        </div>
        <div class="mb-3">
            <label for="id_category" class="form-label">Category</label>
            {{ form.category }}
        </div>
        <div class="mb-3">
            <label for="id_type" class="form-label">Type</label>
            {{ form.type }}
        </div>
        <input type="submit" value="Host" class="btn btn-primary btn-block">
        <!-- Add more form fields or elements as needed -->
    </form>
</div>

{% endblock %}