{% extends 'base.html' %}

{% block title %}
Events | {{request.user.username}}
{% endblock %}

{% block content %}

<section class="upcoming-events py-4">

    <h2 class="text-center mb-4">Upcoming Events</h2>

    {% with events=upcoming_events %}
        {% include 'event_container.html' %}
    {% endwith %}

</section>

<section class="past-events py-4">

    <h2 class="text-center mb-4">Past Events</h2>

    {% with events=past_events %}
        {% include 'event_container.html' %}
    {% endwith %}

</section>

{% endblock %}