{# logic to render all organizer cards go here #}
<div class="container">

    {% for organizer in organizers %}
        {# logic to render one organizer card goes here #}
        <div class="card">
        
            <div class="title">{{organizer.name}}</div>
            <div class="tagline">{{organizer.tagline}}</div>
            <div class="manager">Managed by {{organizer.account.first_name}} {{organizer.account.last_name}}</div>
        
            {% comment %} <div class="follow-link"><a href="{% url 'follow' id=organizer.id %}">Follow</a></div> {% endcomment %}
        
        </div>
    {% endfor %}

</div>