{# logic to render organizers goes here #}
<div class="container">
    <div class="row">
        {% for organizer in organizers %}
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{organizer.name}}</h5>
                    <p class="card-text">Tagline: {{organizer.tagline}}</p>
                    <p class="card-text">Managed by {{organizer.account.first_name}} {{organizer.account.last_name}}</p>
                    <a href="{% url 'organizer:view_organizer' id=organizer.id %}" class="btn btn-primary">View Profile</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>